@*Tell razor to expect the model to be a collection of Post objects. Then use the for each loop to iterate of the collection*@
@model  IEnumerable<ExploreCaliforniaMVC.Models.Post>
@{
    //Layout = "_Layout";
    Layout = "_SimpleLayout"; /*_SimpleLayout uses the _Layout as it's base layout except it defines how secondaryContent is handeled. When using this _SimpleLayout
    the _Layout will be rendered except for the SecondaryContent. It's a View in a View. Basically, any View that uses the _SimpleLauout will not display the MonthlySpecials, which is the 
    SecondaryContent on the left side. In other words, this View was specifically created to display the page exactly like the Index view, except for this blanking out the SecondaryContent.*/
}
<h1>My Blog</h1>
<p>
    Test paragraph
</p>
<div class="blog-posts">
    @foreach (var post in Model)
    {
        @*Coming from the shared filder*@
        @Html.Partial("_Post", post); //overload the Html.Partial helper so that it accepts a second param, which allows the passing in of any object
        //that you want to use as the model
    }
</div>